body {
  margin: 0;
  color: #222; }

@media (min-width: 1200px) {
  .circular {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .circular {
    width: 176px;
    height: 176px;
    border-radius: 88px;
    -webkit-border-radius: 88px;
    -moz-border-radius: 88px; }
  div.vcard.contact {
    text-align: center; } }

@media (max-width: 767px) {
  .circular {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin: 0 auto; }
  #about div#bio-text {
    padding-left: 0px; }
  .skill-col {
    width: 250px;
    margin: 0 auto; }
  h2.project-title,
  h3.project-case-study,
  h3.testimonial-header,
  p.project-case-p,
  div.vcard.contact,
  .skills-head,
  div#bio-text p {
    text-align: center; }
  #contact button#contact-btn {
    width: 100%;
    padding: 1em; } }

/* Homepage header media queries */
@media (min-width: 970px) {
  h1.home-head {
    font-size: 5.25em; } }

@media (min-width: 750px) and (max-width: 970px) {
  h1.home-head {
    font-size: 4em; } }

@media (min-width: 561px) and (max-width: 749px) {
  h1.home-head {
    font-size: 3.4em; } }

@media (min-width: 381px) and (max-width: 560px) {
  h1.home-head {
    font-size: 3.2em; } }

@media (max-width: 380px) {
  h1.home-head {
    font-size: 3em; } }

/* Main styles */
h1, h2, h3, h4, h5 {
  font-family: "Open Sans","Helvetica Neue",Arial,sans-serif; }

#home {
  background: url("/img/pdx_bg_dark_1.jpg") 50% 0 repeat fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  height: 100vh; }
  #home .head-container {
    margin-top: 15%; }
  #home h1.home-head {
    background-color: rgba(0, 0, 0, 0.9);
    line-height: 1.425em;
    display: inline; }
  #home h1.home-head span {
    padding: 0.2em; }

#about {
  font-size: 1.125em;
  background: #f05f40;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }
  #about #skillset {
    background: #fff;
    padding: 2em 0; }
  #about #bio {
    padding: 2em 0 4em 0; }
  #about #bio-text {
    padding-left: 3em;
    line-height: 1.725em; }
  #about #bio-image {
    background: url("/img/justin-headshot-250.jpg") no-repeat;
    border: 6px solid white;
    background-size: 100%; }
  #about ul.skills {
    width: 200px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 auto 1em auto;
    text-align: left; }

#portfolio-wrapper {
  background: url("/img/pdx_bg_dark_1.jpg") 50% 0 repeat fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }
  #portfolio-wrapper .project-container {
    margin-bottom: 4.5em;
    padding: 1.25em; }
  #portfolio-wrapper ul.skills {
    padding-left: 1em; }
  #portfolio-wrapper a:link {
    color: #f05f40;
    text-decoration: none; }
  #portfolio-wrapper a:hover {
    color: #ac3c24;
    text-decoration: underline; }
  #portfolio-wrapper a:active {
    color: #ac3c24;
    text-decoration: none; }
  #portfolio-wrapper a:visited {
    color: #ac3c24;
    text-decoration: none; }

#contact-wrapper {
  background: url("/img/pdx_bg_dark_1.jpg") 50% 0 repeat fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }
  #contact-wrapper div.contact-errors {
    display: none; }
  #contact-wrapper .contact-form-error {
    border: 2px solid #ba0000; }

#contact {
  padding-bottom: 4em; }
  #contact #contact-btn {
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #fff;
    background-color: #f05f40;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    padding: 4px 16px; }
  #contact #social-media {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines; }
  #contact #social-media a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 0.5em; }
  #contact .distribute {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0; }

#footer {
  background: #f05f40;
  margin: 0 auto;
  padding: 4em;
  color: #fff; }

ul.skills {
  list-style-type: none; }

#portfolio-wrapper, #contact-wrapper {
  padding-top: 24em; }

.white-bg {
  background: #fff; }

.white {
  color: #fff; }

.orange {
  color: #f05f40; }

.buffer-top {
  padding-top: 50px !important; }

ul.skills li:before, ul.project-skill li:before {
  font-family: 'FontAwesome';
  content: "\f054";
  margin: 0 5px 0 -15px;
  color: #f05f40; }

.orange-hr {
  border-color: #f05f40; }

.indent {
  text-indent: 1.25em; }

/* Scroll Down Animation */

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

a#scroll-down .arrow.top-arrow {
  bottom: 25px;
  color: #fff; }

a#scroll-down .arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -12px;
  font-size: 50px;
  color: #fff;
  width: 50px;
  height: 50px; }

a#scroll-down .bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

/* Bootstrap Overrides */
nav.navbar-inverse {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.75);
  border: 0 none; }

.thumbnail {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0; }

nav.navbar-inverse {
  background-image: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.9); }

.navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-image: none; }

ul.dropdown-menu {
  background-color: #080808;
  border: none; }
  ul.dropdown-menu li > a {
    color: #fff; }
  ul.dropdown-menu li.active a,
  ul.dropdown-menu li.active a:active,
  ul.dropdown-menu li.active a:focus,
  ul.dropdown-menu li.active a:hover {
    background-color: #222; }
  ul.dropdown-menu li > a:hover,
  ul.dropdown-menu .dropdown-menu li > a:focus,
  ul.dropdown-menu .dropdown-submenu:hover > a {
    background-image: none;
    background-color: #222;
    color: #eee; }
  ul.dropdown-menu ul.work-menu.dropdown-menu .active a {
    background-color: #f05f40; }

/*# sourceMappingURL=main.css.map */